.speechBubble {
    background: #182533;
    -webkit-border-radius: 10px;
    border-radius: 8px 8px 8px 0;
    font-family: Roboto, sans-serif;
    color: whitesmoke;
    font-size: 1.2rem;
    line-height: 1.2;
    max-width: 150px;
    padding: 10px;
    position: relative;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.name {
    color: #b48bb8;
    margin: 0 0 10px;
    text-align: start;
}

.time {
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    text-align: end;
    color: #537f81;
    /*margin: 4px 4px 0 350px;*/
}

.message {
    text-align: start;
    margin: 0 0 10px;
}

.speechBubble::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #182533;
    border-left: 0;
    border-bottom: 0;
    margin-top: -20px;
    margin-left: -20px;
}